# Data
data/

# Trained Models
models/final/*.joblib
models/best_rf_params.json

# Generated Results
results/*.csv
results/*.json

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Editor / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db